.now-playing {
    text-align: left;
}

.song_row {
    display: block;
    width: 100%;
    clear: both;
    float: left;
    margin: 0.2rem;
    min-width: 250px;
    overflow: hidden;
}

.song_title {
    float: left;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.2rem;
    margin: 0 0.2vw;
    padding: 0 0.2vw;
    font-variant: small-caps;
}

.widget_text .song_title {
    font-size: 1.4rem;
    line-height:1.2rem;
}

.song_artist {
    float: left;
    width: 100%;
    display: block;
    margin: 0 0.2vw;
    padding: 0 0.2vw;
    font-size: 2rem;
    line-height:1.8rem;
    color: #b9b9b9;
    font-weight: bold;
    font-variant: small-caps;
}

.widget_text .song_artist {
    font-size: 1rem;
    line-height: 0.8rem;
}

.song_played {
    float: left;
    width: 100%;
    display: block;
    margin: 0 0.2vw;
    padding: 0 0.2vw;
    font-size: 1.4rem;
    line-height:1/rem;
    color: #585858;
    font-weight: normal;
    font-style: italic;
}

.widget_text .song_played {
    font-size: 1.2rem;
    line-height: 1rem;
}

.song_thumb img {
    width: 100%;
    max-width: 100px;
}

.song_thumb {
    float: left;
    display: block;
    min-width: 50px;
    width: 20%;
    max-width: 100px;
}

.song_detail {
    float: left;
    display: block;
    padding: 0.2rem;
    max-width: 80%;
    font-size:16pt;
}